---
layout: default
title: Home
---

<!-- Show last 5 posts here -->
{% for post in site.posts limit: 5  %}
	<article>

        <header>
            <h2><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h2>
            <ul>
                <li class="date">Published <time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time></li>
                <li class="category">in {{ post.categories | category_links }}</li>
                <li class="author">by {% if post.author %}{{post.author}}{% else %}{{site.author}}{% endif%}</li>
            </ul>
        </header>
	
		<div class="entry">{{ post.excerpt }}</div>

	</article>
{% endfor %}
