---
layout: default
---

<article>
        <header>
            <h2>{{ page.title }}</h2>
            <ul>
                <li>Published <time datetime="{{page.date|date:"%F"}}">{{page.date|date:"%b %d, %Y"}}</time></li>
                <li class="category">in {{ page.categories | category_links }}</li>
                <li class="author">by {% if page.author %}{{page.author}}{% else %}{{site.author}}{% endif%}</li>
            </ul>
        </header>

        <div class="entry">{{ content }}</div>

        <footer><!-- additional info --></footer>

</article>

